body {
  width: 881px;
  margin: 0 auto;
  padding: 0;
  background-color:#343B48;

}

.hidden {
  display: none;
}
.container {
  margin-top: 100px;
  background: url(../images/background.svg);
  width: 881px;
  height: 486px;
}
